

* {box-sizing: ;}


body {background-color: gainsboro;}

title {font-size: 250%}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
    position: fixed;
    top: 0;
    width: 100%;
    }

li {
    float: left;
    border-right: 1px solid black;
    font-size: 10%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

form {
    display: inline-block;
    text-align: center;
    margin: 0 auto; 
    width:250px;
}


li a:hover:not(.active) {background-color: #111;}

 li a.active {background-color: blue;}

 li.right {float: right;}

.lead {font-size: 150%;}
}
 
p {
    background-color: blue;
    color:black;
    border:5px solid grey;
    padding:10px;
    max-width: 100%;
    margin: 20px 120px 40px 120px;
    font-size:500px;
    font-style: bold;
}

.banner {font-style: bold; 
    background-color: crimson;
    font-size: 150%;}

    /* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;    
    
}

.modal-content {
    background-color: crimson;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}